body
{
    background-color: rgb(20, 20, 20);
}
/* .col-md-6
{
    background-color: rgb(233, 179, 4);
} */
.lefttop
{
    background-color: rgb(238, 190, 31);
    width: 30%;
    height: 30%;
    left: 60%;
    position: absolute;
}
.righttop
{
    height: 30%;
    width: 60%;
    left: 10%;
}
.divcenter
{
    width: 80%;
    height: 30%;
    background-color: rgb(20, 20, 20);
}
.containertext1
{
    color:white;
    font-weight: bold;
    font-size: 0.5cm;
}
.containerheader
{
  width: 80%;
  
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid whitesmoke;
}
.container
{
    background-color: rgb(30, 30, 30);
    padding-top: 15px;
}
.containerMid
{
  width: 100%;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(211, 158, 45);
}
.mid
{
    top: 32%;
    left: 10%;
    width: 80%;
    height: 30%;
    background-color: rgb(30, 30, 30);
    position: absolute;
}
.down
{
    top: 62%;
    left:10%;
    position: absolute;
    height: 30%;
}
